.qk-editor-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;

    &>.qk-toolbar-menu {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
            background-color: #f3f3f3;
        }

        &>img {
            width: 16px;
            height: 16px;
        }
    }
}